
<h1>
    Login
</h1>
<form action="/users/create-session" method="GET">
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="name" required>

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="email" required>

    <button>Sign In</button>
</form>