<h1>SignUp</h1>

<form action="/users/create" method="POST">
    <label for="_name">Full Name</label>
    <input type="text" name="name" placeholder="Your Name" required>

    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Your Email"required>

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" required>

    <label for="conf-pass">Confirm Password</label>
    <input type="password" name="confirmpass" placeholder="Confirm Password" required>

    <button>SignUp</button>
</form>

<p>
    <a href="/users/auth/google">Sign In/Sign Up(Google)</a>
</p>